---
import Features3 from '~/components/widgets/Features3.astro';
import Hero from '~/components/widgets/Hero.astro';
import Stats from '~/components/widgets/Stats.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'About Us',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="About Us"
    image={{
      src: 'https://images.unsplash.com/photo-1559136555-9303baea8ebd?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'About Us Image',
    }}
  >
    <Fragment slot="title">
      Forum Komunikasi <br />
      <span class="text-accent dark:text-white">Komunitas Muslim Indonesia di Belanda</span>
    </Fragment>

    <Fragment slot="subtitle">
      FORKOM NL adalah wadah komunikasi untuk berbagai komunitas Muslim Indonesia yang tersebar di seluruh Belanda. Kami
      hadir sebagai platform untuk kolaborasi, advokasi, dan pemberdayaan bagi organisasi anggota kami.
    </Fragment>
  </Hero>

  <!-- Stats Widget ****************** -->

  <Stats
    title="Forkom Dalam Angka"
    stats={[
      { title: 'Organisasi Anggota', amount: '15' },
      { title: 'Jumlah Anggota', amount: '500+' },
      { title: 'Awards', amount: '5' },
    ]}
  />

  <!-- Steps2 Widget ****************** -->

  <Steps2
    title="Visi & Misi"
    subtitle="Landasan pergerakan dan cita-cita kami."
    items={[
      {
        title: 'Visi',
        description:
          'Terwujudnya peran aktif dan kontribusi positif umat Islam Indonesia di Belanda untuk masyarakat Indonesia di Belanda, umat Islam di Belanda, dan masyarakat Belanda secara keseluruhan.',
      },
      {
        title: 'Misi: Diplomasi & Advokasi',
        description: 'Menjadi suara perwakilan umat Islam Indonesia di Belanda.',
      },
      {
        title: 'Misi: Pemberdayaan Anggota',
        description: 'Memajukan seluruh komunitas Islam anggota melalui program pengembangan organisasi.',
      },
      {
        title: 'Misi: Kajian Strategis',
        description: 'Menyelenggarakan diskusi dengan tema strategis dan kontemporer bersama narasumber yang kompeten.',
      },
    ]}
  />

  <!-- Features3 Widget ************** -->

  <Features3
    title="Anggota Komunitas"
    subtitle="Organisasi yang tergabung dalam FORKOM NL."
    columns={3}
    items={[
      {
        title: 'KMD Delft',
        description: 'Keluarga Muslim Delft',
        icon: 'tabler:users',
      },
      {
        title: 'SGB Utrecht',
        description: 'Stichting Generasi Baru Utrecht',
        icon: 'tabler:users',
      },
      {
        title: 'de Gromiest Groningen',
        description: 'Groningen Muslim Society',
        icon: 'tabler:users',
      },
      {
        title: 'Pengajian Wageningen',
        description: 'Komunitas Muslim Wageningen',
        icon: 'tabler:users',
      },
      {
        title: 'Musihoven Eindhoven',
        description: 'Muslim Society Eindhoven',
        icon: 'tabler:users',
      },
      {
        title: 'IMEA Enschede',
        description: 'Indonesian Muslim Enschede Association',
        icon: 'tabler:users',
      },
      {
        title: 'KAMIL Maastricht',
        description: 'Keluarga Muslim Limburg',
        icon: 'tabler:users',
      },
      {
        title: 'PPMR Rotterdam',
        description: 'Persatuan Pemuda Muslim Rotterdam',
        icon: 'tabler:users',
      },
    ]}
  />
</Layout>
